@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2>Add an Author</h2>

<h4>Add an Author to this book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @* @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save" /> *@

  {
    int cnt = 0;

    <p>Availible Authors:</p>
    foreach (var author in ViewBag.Authors)
    {
      if (cnt++ % 3 == 0)
      {
        @:</tr><tr>
      }
      @:<td>
        <input type="checkbox"
            name="authors"
            value="@author.AuthorId"
            @(Html.Raw(author.Owned ? "checked=\"checked\"" : "")) />
            @author.Name
      @:</td>
    }
    @:</tr>
  }
  <input type="submit" value="Save" />
}