@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h4>Add A Book</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  {
    @:<table>
    int cnt = 0;
    @:<tr>
    <p>Availible Authors:</p>
    foreach (var author in ViewBag.Authors)
    {
      if (cnt++ % 3 == 0)
      {
        @:</tr><tr>
      }
      @:<td>
        <input type="checkbox"
            required="required"
            name="authors"
            value="@author.AuthorId"
            @(Html.Raw(author.Owned ? "checked=\"checked\"" : "")) />
            @author.Name
      @:</td>
    }
      @:</tr>
    @:</table>
  }
  <input type="submit" value="Save" />
}